<div class="container-fluid" style="background-color: rgb(210, 210, 210); ">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-">
            <div class="navbar-brand mx-left">  <a href="/">
              <img src="assets/Logo.png" width="100%" class="logo-img"/>
            </a></div>  
          </nav> 
        
            <br/>
            <br/>
            <div > 
        <p style="color: rgb(6, 6, 6)">
            Do you have something for suggestion to create content on? If yes, Please fill form and if selected, Will display your name in suggested by & Additionally, Type your Queries if any, Or having any issue in code of any technology. Send code, Will fix the code for free
            <span style="color: rgba(255, 68, 0, 0.655);"><a style="color: rgba(255, 68, 0, 0.655); text-decoration: none;" href="https://forms.gle/ZFsWGgbQNufESqLL7">
                Click Here
            </a>
            </span>
        </p>      
        <br/>

        <nav class="navbar navbar-expand-lg navbar-light bg-">
            <p style="color: rgb(6, 6, 6)">
               <span style="color: rgba(255, 68, 0, 0.655);"><a style="color: rgba(255, 68, 0, 0.655); text-decoration: none;" href="/privacy">
Privacy Policy                </a>
                </span>
            </p>      
          </nav> 
        <br/>
        <br/>
            </div>
  
</div>